<div class="container-fluid">
<div class="row row-offcanvas row-offcanvas-left">
  <div class="menu col-md-3 hidden-xs">
    <%= render 'home/menu' %>
  </div>
  <div class="col-xs-6 visible-xs sidebar-offcanvas" id="sidebar" role="navigation">
    <%= render 'home/hidden_menu' %>
  </div>

  <div class = "col-md-7">
    <h3>チュータープロフィール</h3>

    <div style="width:100%;">
      <%= link_to url_for(:controller => 'select_tutor', :action => 'show', :id => @tutor.previous.id), class: 'pull-left' do %><button class="btn btn-default" style="height:30px">前のチューターへ</button><% end %>

      <%= link_to url_for(:controller => 'select_tutor', :action => 'show', :id => @tutor.next.id), class: 'pull-right' do %><button class="btn btn-default" style="height:30px">次のチューターへ</button><% end %>
    </div>

    <div style="text-align:center; margin-bottom: 20px;">
      <% if @tutor.photo == "" %>
        <%= image_tag '1310.png', :height => '120', :width => '120', :class=> 'img-circle' %>
      <% else %>
        <%= image_tag url_for(:controller => 'tutors/registrations', :action => 'photo', :id => @tutor.id), :height => '120', :width => '120', :class => 'img-circle' %>
      <% end %>
    </div>

    
    
    <div class="container-fluid panel panel-default">
      
        <div class="row select_tutor_show_row">
          <div class="col-md-3">名前</div>
          <div class="col-md-9"><%= @tutor.name %></div>
        </div>
        <div class="row select_tutor_show_row">
          <div class="col-md-3">大学・学部・学年</div>
          <div class="col-md-9"><%= @tutor.university %></div>
        </div>
        <div class="row select_tutor_show_row">
          <div class="col-md-3">出身地</div>
          <div class="col-md-9"><%= @tutor.prefecture %><%= @tutor.is_from %></div>
        </div>
        <div class="row select_tutor_show_row">
          <div class="col-md-3">出身高校</div>
          <div class="col-md-9"><%= @tutor.highschool %></div>
        </div>
        <div class="row select_tutor_show_row">
          <div class="col-md-3">最近こんなことしてます</div>
          <div class="col-md-9"><%= simple_format(@tutor.nowadays) %></div>
        </div>
        <div class="row select_tutor_show_row">
          <div class="col-md-3">夢</div>
          <div class="col-md-9"><%= simple_format(@tutor.dream) %></div>
        </div>
        <div class="row select_tutor_show_row">
          <div class="col-md-3">運営からの紹介</div>
          <div class="col-md-9"><%= simple_format(@tutor.intro) %></div>
        </div>
        <div class="row select_tutor_show_row">
          <div class="col-md-3">担当曜日</div>
          <div class="col-md-9">
            <% case @tutor.available_day %>
              <% when 0 then %>
                日曜日
              <% when 1 then %>
                月曜日
              <% when 2 then %>
                火曜日
              <% when 3 then %>
                水曜日
              <% when 4 then %>
                木曜日
              <% when 5 then %>
                金曜日
              <% when 6 then %>
                土曜日
            <% end %>
          </div>
        </div>
        <div class="row select_tutor_show_row" style="border-bottom:none;">
          <div class="col-md-3">受験で使った科目</div>
          <div class="col-md-9">
            <% @subjects.each do |subject| %>
              <% if subject == '現代文' or subject == '古文' or subject == '漢文' %>
                <span class = "label label-danger"><%= subject %></span>
              <% elsif subject == '英語' %>
                <span class = "label label-warning"><%= subject %></span>
              <% elsif subject == '数学' %>
                <span class = "label label-info"><%= subject %></span>
              <% elsif subject == '物理' or subject == '化学' or subject == '生物' or subject == '地学' %>
                <span class = "label label-success"><%= subject %></span>
              <% elsif subject == '世界史' or subject == '日本史' or subject == '地理' or subject == '政治経済' or subject == '倫理' or subject == '現代社会' %>
                <span class = "label label-default"><%= subject %></span>
              <% end %>
            <% end %>
          </div>
        </div>
      
    </div>
    

  <!--
  <% if @tutor.articles.any? %>
    <span><%= @tutor.name %>さんが書いた記事</span>
    <ul>
    <% @tutor.articles.each do |article| %>
      <li><%= link_to article do %><%= article.title %><% end %></li>
    <% end %>
    </ul>
  <% end %>
  -->
  <br>
  <% if @user.tutor != @tutor %>
    <%= form_for(@user, url: select_tutor_update_path) do |f| %>
      <%= f.hidden_field :tutor_id, :value => @tutor.id %>
      <%= f.submit "#{@tutor.name}さんをチューターに選択する", :class => 'btn btn-primary' %>
    <% end %>
  <% end %>


  </div>
</div>
</div>
<br>
