<div class="container-fluid">
<div class = "row">

<div class="menu col-md-3">
  <h3>メニュー</h3>
  <ul class="list-group">
  <%= link_to(home_index_path, :class => "list-group-item active") do %>
    <i class="fa fa-home fa-fw"></i>ホーム
  <% end %>
  <%= link_to(new_report_path, :class => "list-group-item") do %>
    <i class="fa fa-pencil fa-fw"></i>勉強を記録する
  <% end %>
  <%= link_to(reports_path, :class => "list-group-item") do %>
    <i class="fa fa-bar-chart fa-fw"></i>記録の一覧を見る
  <% end %>
  <%= link_to(summaries_path , :class => "list-group-item") do %>
    <i class="fa fa-file-text-o fa-fw"></i>先生からのコメントを見る
  <% end %>
  <%= link_to(select_tutor_index_path , :class => "list-group-item") do %>
    <i class="fa fa-group fa-fw"></i>チューターを変更する
  <% end %>
  <%= link_to(users_edit_profile_path , :class => "list-group-item") do %>
    <i class="fa fa-cog fa-fw"></i>プロフィールを変更する
  <% end %>
  <a class="list-group-item" data-toggle="modal" data-target="#sampleModal">
    <i class="fa fa-envelope-o fa-fw"></i>お問い合わせ
  </a>
  </ul>
</div>

<div class = "col-md-9">
  <h3>チュータープロフィール</h3>
<table class="table table-bordered table-striped">
<tbody>
<div style="text-align:center; margin-bottom: 20px;">
<% if @tutor.photo == "" %>
      <%= image_tag '1310.png', :height => '120', :width => '120', :class=> 'img-circle' %>
    <% else %>
      <%= image_tag url_for(:controller => 'tutors/registrations', :action => 'photo', :id => @tutor.id), :height => '120', :width => '120', :class => 'img-circle' %>
    <% end %>
</div>
<tr>
  <th>名前</th>
  <td><%= @tutor.name %></td>
</tr>
<tr>
  <th>大学・学部・学年</th>
  <td><%= @tutor.university %></td>
</tr>
<tr>
  <th>出身地</th>
  <td><%= @tutor.is_from %></td>
</tr>
<tr>
  <th>出身高校</th>
  <td><%= @tutor.highschool %></td>
</tr>
<tr>
  <th>最近こんなことしてます</th>
  <td><%= @tutor.nowadays %></td>
</tr>
<tr>
  <th>夢</td>
  <td><%= @tutor.dream %></th>
</tr>
<tr>
  <th>運営からの紹介</th>
  <td><%= @tutor.intro %></td>
</tr>
<tr>
  <th>担当曜日</th>
  <td>
    <% case @tutor.available_day %>
      <% when 0 then %>
        日曜日
      <% when 1 then %>
        月曜日
      <% when 2 then %>
        火曜日
      <% when 3 then %>
        水曜日
      <% when 4 then %>
        木曜日
      <% when 5 then %>
        金曜日
      <% when 6 then %>
        土曜日
    <% end %>
  </td>
</tr>
<tr>
  <th>受験で使った科目</th>
  <td>
    <% @subjects.each do |subject| %>
      <% if subject == '現代文' or subject == '古文' or subject == '漢文' %>
        <span class = "label label-danger"><%= subject %></span>
      <% elsif subject == '英語' %>
        <span class = "label label-warning"><%= subject %></span>
      <% elsif subject == '数学' %>
        <span class = "label label-info"><%= subject %></span>
      <% elsif subject == '物理' or subject == '化学' or subject == '生物' or subject == '地学' %>
        <span class = "label label-success"><%= subject %></span>
      <% elsif subject == '世界史' or subject == '日本史' or subject == '地理' or subject == '政治経済' or subject == '倫理' or subject == '現代社会' %>
        <span class = "label label-default"><%= subject %></span>
      <% end %>
    <% end %>
  </td>
</tr>
</tr>
</tbody>
</table>
</div>
</div>
</div>
