<div class="container-fluid">
  <div class="row row-offcanvas row-offcanvas-left">
    <div class="menu col-md-3 hidden-xs">
      <%= render 'home/menu' %>
    </div>
    <div class="col-xs-6 visible-xs sidebar-offcanvas" id="sidebar" role="navigation">
      <%= render 'home/menu' %>
    </div>
    <div class="col-md-9">
    <h3>報告一覧</h3>
      <% if @summaries %>
        <table class="table table-bordered">
        <tbody>
        <% @summaries.each do |summary| %>
        <tr>
          <th class="text-center"><%= summary.name %></th>
          <td class="text-center"><%= if summary.tutor then summary.tutor.name else '-' end %></td>
          <td class="text-center">
            <% if summary.tutor_id != current_user.tutor_id %>
              コメントのやりとりは終了しています。
            <% elsif summary.comments.any? %>
              <% if summary.comments.count > 7 %>
                コメントのやりとりは終了しています。
              <% elsif summary.comments.count % 2 != 0 %>
                <strong>コメントに返信できます。</strong>
              <% else %>
                チューターからの返信待ちです。
              <% end %>
            <% else %>
              チューターからの返信待ちです。
            <% end %>
          </td>
          <td class="text-center"><%= link_to '詳細', summary %></td>
        </tr>
        <% end %>
        </tbody>
        </table>
      <% end %>
    </div>
  </div>
</div>
