<%= form_for(@comment, :validate => true) do |f| %>
  <% if @comment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@comment.errors.count, "error") %> prohibited this comment from being saved:</h2>

      <ul>
      <% @comment.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :content, 'コメントを送信する',:style => "display: block; width:80%; margin: 0 auto; text-align:center;"  %><br>
    <%= f.text_area :content, :class => "form-control", :row => "5", :style => "height:300px;width:80%; margin: 0 auto;", :id => 'comment1' %><br>
    <% if user_signed_in? %>
      <p class="text-center">現在<span class="count1 red">0</span>文字</p>
      <p class="text-center"><small>500文字以下で書いて下さい</small></p>
    <% elsif tutor_signed_in? %>
      <p class="text-center">現在<span class="count1 red">0</span>文字</p>
      <p class="text-center"><small>200文字以上500文字以下で書いて下さい</small></p>
    <% end %>
  </div>
  <%= f.hidden_field :summary_id, :value => @summary.id %>

  <% if user_signed_in? %>
    <%= f.hidden_field :created_by_user, :value => true %>
  <% else %>
    <%= f.hidden_field :created_by_user, :value => false %>
  <% end %>

  <div class="actions">
    <%= f.submit '送信', data: { confirm: '送信しますか？' }, :class => 'btn btn-primary',:style => "display: block; width:80%; margin: 0 auto;" %>
  </div>

<% end %>

<script type="text/javascript">
$(function(){
  $(document).ready(function(){
    for ( num=1; num<=1; num++ ) {
        var max = 500;
        var min = 0;
        var thisValueLength = $("#comment" + num).val().replace(/\s+/g,'').length;

        if (thisValueLength <= min || thisValueLength >= max) {
            $(".count" + num).addClass('red');
        } else {
            $(".count" + num).removeClass('red');
        }
        $(".count" + num).html(thisValueLength);
    }
  });
});


$(function(){
    $('#comment1').bind('keyup',function() {
        for ( num=1; num<=1; num++ ) {
            var max = 500;
            var min = 0;
            var thisValueLength = $("#comment" + num).val().replace(/\s+/g,'').length;
 
            if (thisValueLength <= min || thisValueLength >= max) {
                $(".count" + num).addClass('red');
            } else {
                $(".count" + num).removeClass('red');
            }
            $(".count" + num).html(thisValueLength);
        }
    });
});
</script>

<style type="text/css">
.red{
    color:#ff0000;
}
</style>