<!DOCTYPE html>
<html>
<head>
  <title>Studyconcierge</title>
  <meta name="viewport" content="width=device-width, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="//jpostal-1006.appspot.com/jquery.jpostal.js"></script>
  
  <%= analytics_init if Rails.env.production? %>
  <%= csrf_meta_tags %>
</head>
<body>
  <header>
    <nav class = "navbar navbar-default landing-nav ">
      <div class = "navbar-header navbar-item">
        <a class = "navbar-brand" href = "/"><img src="/assets/logo-black.png" height="100%"></a>
      </div>
      <ul class = "nav navbar-nav navbar-item" style="font-size:90%">
        <% if user_signed_in? %>
        <li><%= link_to 'ログアウト', destroy_user_session_path, method: :delete %></li>
        <% elsif tutor_signed_in? %>
        <li><%= link_to 'ログアウト', destroy_tutor_session_path, method: :delete %></li>
        <% elsif admin_signed_in? %>
        <li><%= link_to 'Adminログアウト', destroy_admin_session_path, method: :delete %></li>
        <% else %>
        <li><%= link_to '高校生ログイン', new_user_session_path %></li>
        <li><%= link_to '大学生ログイン', new_tutor_session_path %></li>
        <% end %>
      </ul>
    </nav>
  </header>
  

  


<!-- Carousel
================================================== -->
<div id="myCarousel" class="carousel slide" data-interval="5000">
    <% if alert || flash[:info] || notice %>
      <div class="container-fluid landing-alert">
      <% if alert %>
        <div class="alert alert-danger alert-dismissible" role="alert">
          <button type="button" class="close" data-dismiss="alert" aria-label="閉じる"><span aria-hidden="true">×</span></button>
          <%= alert %>
        </div>
      <% end %>
      <% if notice %>
        <div class="alert alert-info alert-dismissible" role="alert">
          <button type="button" class="close" data-dismiss="alert" aria-label="閉じる"><span aria-hidden="true">×</span></button>
          <%= notice %>
        </div>
      <% end %>
      <% if flash[:info] %>
        <div class="alert alert-success alert-dismissible" role="alert">
          <button type="button" class="close" data-dismiss="alert" aria-label="閉じる"><span aria-hidden="true">×</span></button>
          <%= flash[:info].join("<br>").html_safe %>
        </div>
      <% end %>
      </div>
    <% end %>
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
    <li data-target="#myCarousel" data-slide-to="1"></li>
    <li data-target="#myCarousel" data-slide-to="2"></li>
  </ol>
  <div class="carousel-inner">
    <div class="item active">
      <img src="/assets/pc132602.jpg" style="width:100%" class="img-responsive">
      <div class="container">
        <div class="carousel-caption">
          <h1>Study Concierge</h1>
          <p></p>
          <p><a class="btn btn-lg btn-primary" href="#">仮登録する</a>
        </p>
        </div>
      </div>
    </div>
    <div class="item">
      <img src="/assets/p7203300.jpg" class="img-responsive">
      <div class="container">
        <div class="carousel-caption">
          <h1>受験勉強にコンシェルジュを</h1>
          <p>毎日勉強を頑張るあなたのモチベーションをサポートします。</p>
          <p><a class="btn btn-large btn-primary" href="#">仮登録する</a></p>
        </div>
      </div>
    </div>
    <div class="item">
      <img src="/assets/i000_582.jpg" class="img-responsive">
      <div class="container">
        <div class="carousel-caption">
          <h1>受験勉強だけじゃない</h1>
          <p>将来の悩み、夢、やりたいこと、相談できる人がここにはいます。</p>
          <p><a class="btn btn-large btn-primary" href="#">仮登録する</a></p>
        </div>
      </div>
    </div>
  </div>
  <!-- Controls -->
  <a class="left carousel-control" href="#myCarousel" data-slide="prev">
    <span class="icon-prev"></span>
  </a>
  <a class="right carousel-control" href="#myCarousel" data-slide="next">
    <span class="icon-next"></span>
  </a>  
</div>
<!-- /.carousel -->


<!-- Marketing messaging and featurettes
================================================== -->
<!-- Wrap the rest of the page in another container to center all the content. -->

<div class="container marketing">
  <div class="row">
    <%= link_to new_user_session_path, class: 'col-md-4 col-md-offset-4 col-xs-10 col-xs-offset-1 btn btn-default btn-lg btn-danger' do %>ログイン<% end %>
    <%= link_to new_tutor_session_path, class: 'col-md-2 col-md-offset-2 hidden-xs btn btn-default btn-sm' do %>チューターの方はこちらへ<% end %>
    <p class="visible-xs">
      <br><br><br><%= link_to new_tutor_session_path, class: 'col-xs-offset-1' do %>チューターの方はこちらへ<% end %>
    </p>
  </div>

  <br>

  <!-- Three columns of text below the carousel -->
  <h3 class="sample2 text-center" style="margin-top:20px;">Study Concierge の３つの特徴</h3>
  <br>
  <div class="row">
    <div class="col-md-4 text-center">
      <div class="center-block circle" style="position:relative">
        <p style="font-size:200%;position:absolute;top:28px;left:32px"><i class="fa fa-clock-o fa-3x"></i></p>
      </div>
      <h2>１日５分で振り返り</h2>
      <p>１日１回、受験で使う科目の全てについて、どのくらいがんばったかという％と、コメントを記録できます。その日つまづいた点を記入しておくことができます。</p>
      <!--<p><a class="btn btn-default" href="#">View details »</a></p>-->
    </div>
    <div class="col-md-4 text-center">
      <div class="center-block circle" style="position:relative">
        <p style="font-size:200%;position:absolute;top:24px;left:28px"><i class="fa fa-comments fa-3x"></i></p>
      </div>
      <h2>大学生からコメント</h2>
      <p>１週間に１度、大学生からコメントが来ます。返信することも可能で、相談に乗ってもらうことができます。チューターは気軽に変更していただくことができます。</p>
      <!--<p><a class="btn btn-default" href="#">View details »</a></p>-->
    </div>
    <div class="col-md-4 text-center">
      <div class="center-block circle" style="position:relative">
        <p style="font-size:200%;position:absolute;top:28px;left:42px"><i class="fa fa-lock fa-3x"></i></p>
      </div>
      <h2>選択中のチューター以外には非公開</h2>
      <p>記入いただいた情報は選択中のチューター以外のユーザーに見られることはありません。</p>
      <!--<p><a class="btn btn-default" href="#">View details »</a></p>-->
    </div>
  </div><!-- /.row -->
  <br>
　<div class="row" style="margin-top:50px">
    <button class="col-md-8 col-md-offset-2 col-xs-10 col-xs-offset-1 btn btn-default btn-lg"><i class="fa fa-sign-in"></i> Study Conciergeに仮登録する</button>
  </div>

  <h3 class="sample2 text-center">Study Concierge の３つの機能</h3>
  <!-- START THE FEATURETTES -->

  

  <div class="featurette">
    <img class="featurette-image img-circle pull-right" style="width:512px;height:512px;" src="/assets/0001.png">
    <h2 class="featurette-heading">① 勉強を、記録する。 <br><span class="text-muted"><small>あなたの現状を分析します。</small></span></h2>
    <p class="lead">１日の終わりに、今日どんな勉強をどれだけやったのか記録しておきましょう。記録は力。後から振り返ることもでき効果的です。</p>
  </div>

  <hr class="featurette-divider">

  <div class="featurette">
    <img class="featurette-image img-circle pull-left" style="width:512px;height:512px;" src="/assets/0003.png">
    <h2 class="featurette-heading">② チューターを、選ぶ。 <br><span class="text-muted"><small>話を聞きたい人を選ぼう。</small></span></h2>
    <p class="lead">チューターを選びましょう。行きたい大学に通ってる、将来の夢が似てる、面白そうなことをしてる、理由は何でも構いません。選んだチューターはあなたの毎日を支えてくれます。チューターは何度でも変更可能です。目標となる先輩を見つけてみてください。</p>
  </div>

  <hr class="featurette-divider">

  <div class="featurette">
    <img class="featurette-image img-circle pull-right" style="width:512px;height:512px;" src="/assets/0002.png">
    <h2 class="featurette-heading">③ コメントを、もらう。 <br><span class="text-muted"><small>理想の先輩に相談しよう。</small></span></h2>
    <p class="lead">週に１回、あなたが選択中のチューターからあなたの勉強の状況や、あなたが書いた自由コメントについてのアドバイスコメントが来ます。やりとりは交互に合計７通までできます。</p>
  </div>

  <div class="row" style="margin-top:50px">
    <button class="col-md-8 col-md-offset-2 col-xs-10 col-xs-offset-1 btn btn-default btn-lg"><i class="fa fa-sign-in"></i> Study Conciergeに仮登録する</button>
  </div>


  <h3 class="sample2 text-center">ご利用シーン</h3>
  
  <div class="container">
    <div class="row">
      <div class="col-md-4 col-xs-12">
        <img src="/assets/0004.png" height="200px" class="center-block">
      </div>
      <div class="col-md-8 col-xs-12">
        <h3 class="text-center"><strong>〜受験勉強のサポートに〜</strong></h3>
        <br>
        <p style="font-size:18px;">&nbsp;&nbsp;Study Concierge の大学生チューターは東京大学・早稲田大学・慶應義塾大学をはじめとする有名大学の学生が揃っております。その中から自分に合ったチューターを見つけていただき、週１回のコメントのやり取りを通じて学習計画をたてたり、わからないところを質問していただくことができます。</p>
      </div>
    </div>
    <hr>
    <br>
    <div class="row">
      <div class="col-md-8 col-xs-12">
        <h3 class="text-center"><strong>〜将来の夢を見つけるために〜</strong></h3>
        <br>
        <p style="font-size:18px;">&nbsp;&nbsp;Study Concierge で選択できるチューターの紹介欄には、全員「将来の夢」「最近やっていること」を簡単に書いてもらっています。チューターを選び、やりとりする中で「こんなことができるんだ！」という発見をすることができると思います。それが将来の夢やキャリアを選ぶ上での参考になれば幸いです。</p>
      </div>
      <div class="col-md-4 col-xs-12">
        <img src="/assets/0005.png" height="200px" class="center-block">
      </div>
    </div>
    <hr>
    <br>
    <div class="row">
      <div class="col-md-4 col-xs-12">
        <img src="/assets/0006.png" height="200px" class="center-block">
      </div>
      <div class="col-md-8 col-xs-12">
        <h3 class="text-center"><strong>〜大学入学後のイメージを掴むために〜</strong></h3>
        <br>
        <p style="font-size:18px;">&nbsp;&nbsp;高校と大学は全く異なる環境です。その変化の大きさに不安を感じる方もいるかもしれません。そのようなときは、遠慮なくチューターに聞いてみてください。授業、サークル、バイトなど、大学生の生活を構成するいろいろな面について教えてくれることと思います。</p>
      </div>
    </div>
  </div>
  <div class="row" style="margin-top:50px">
    <button class="col-md-8 col-md-offset-2 col-xs-10 col-xs-offset-1 btn btn-default btn-lg"><i class="fa fa-sign-in"></i> Study Conciergeに仮登録する</button>
  </div>
  


  <!-- /END THE FEATURETTES -->

  <h3 class="sample2 text-center">ご利用料金システム</h3>
  <div style="height:500px;">

    <table class="table table-bordered">
      <thead>
        <tr>
          <th></th>
          <th style="width:25%;">Free プラン</th>
          <th style="width:25%;">Monthly プラン</th>
          <th style="width:25%;">Weekly プラン</th>
        </tr>
      </thead>
      <tbody>
        <tr class="text-center">
          <th>月額利用料</th>
          <td><span class="num">0</span> 円</td>
          <td><span class="num">1,250</span> 円</td>
          <td><span class="num">5,000</span> 円</td>
        </tr>
        <tr>
          <th>特色</th>
          <td>完全無料でお使いいただけます。毎日の勉強時間を記録し、グラフのデータとして見ることができます。</td>
          <td>記録に加えて、月に一度、大学生チューターにアドバイスを貰うことができます。</td>
          <td>毎週大学生チューターにアドバイスを貰うことができます。</td>
        </tr>
        <tr>
          <th colspan="4" style="background-color:rgb(221,221,221)">機能</th>
        </tr>
        <tr class="text-center">
          <th>毎日の勉強を記録</th>
          <td>◯</td>
          <td>◯</td>
          <td>◯</td>
        </tr>
        <tr class="text-center">
          <th>チューターからのアドバイス</th>
          <td>×</td>
          <td>月に１回</td>
          <td>週に１回</td>
        </tr>
      </tbody>
    </table>
  </div>

  
  
  <!-- FOOTER -->
</div>
<footer id="footer" style="background-image:url(<%= asset_path "textured_paper.png" %>);">
    <div class="container">
      <a href="#" class="btn btn-default" data-toggle="modal" data-target="#sampleModal">
        <i class="fa fa-envelope-o fa-fw"></i> お問い合わせ
      </a>
        <!--<div class="row">
            <div class="col-xs-6 col-sm-6 col-md-3 column">
                <h4>Information</h4>
                <ul class="nav">
                    <li><a href="about-us.html">Products</a></li>
                    <li><a href="about-us.html">Services</a></li>
                    <li><a href="about-us.html">Benefits</a></li>
                    <li><a href="elements.html">Developers</a></li>
                </ul>
            </div>
            <div class="col-xs-6 col-md-3 column">
                <h4>Follow Us</h4>
                <ul class="nav">
                    <li><a href="#">Twitter</a></li>
                    <li><a href="#">Facebook</a></li>
                    <li><a href="#">Google+</a></li>
                    <li><a href="#">Pinterest</a></li>
                </ul>
            </div>
            <div class="col-xs-6 col-md-3 column">
                <h4>Contact Us</h4>
                <ul class="nav">
                    <li><a href="#">Email</a></li>
                    <li><a href="#">Headquarters</a></li>
                    <li><a href="#">Management</a></li>
                    <li><a href="#">Support</a></li>
                </ul>
            </div>
            <div class="col-xs-6 col-md-3 column">
                <h4>Customer Service</h4>
                <ul class="nav">
                    <li><a href="#">About Us</a></li>
                    <li><a href="#">Delivery Information</a></li>
                    <li><a href="#">Privacy Policy</a></li>
                    <li><a href="#">Terms &amp; Conditions</a></li>
                </ul>
            </div>
        </div>-->
        <!--/row-->
        <br>
        <p class="text-right" style="color:#34495e;font-size:8px;"><small>Copyright © 2015 StudyConcierge運営チーム All Rights Reserved.</small></p>
    </div>
</footer>
<!-- /.container -->

<script>
  $(document).ready(function() {
    $('#myCarousel').carousel('cycle');
  });  
</script>


<%= render 'home/modal' %>

<script>
  $('img').error(function() {
    $(this).attr('src', '/assets/1310.png');
  });
  $(function() {
    return $("#address_zipcode").jpostal({
      postcode: ["#address_zipcode"],
      address: {
        "#address_prefecture_name": "%3",
        "#address_city": "%4%5",
        "#address_street": "%6%7"
      }
    });
  });
</script>

</body>
</html>