<div class="container-fluid">
<h3>チュータープロフィール</h3>
<table class="table">
<tr>
  <td>メールアドレス</td>
  <td><%= current_tutor.email %></td>
</tr>
<tr>
  <td>名前</td>
  <td><%= current_tutor.name %></td>
</tr>
<tr>
  <td>プロフィール画像</td>
  <td>
    <% if current_tutor.photo == "" %>
      <%= image_tag '1310.png', :height => '64', :width => '64', :class=> 'img-circle' %>
    <% else %>
      <%= image_tag url_for(:controller => 'tutors/registrations', :action => 'photo', :id => current_tutor.id), :height => '64', :width => '64', :class => 'img-circle' %>
    <% end %>
  </td>
</tr>
<tr>
  <td>誕生日</td>
  <td><%= current_tutor.birth %></td>
</tr>
<tr>
  <td>大学・学年・学部</td>
  <td><%= current_tutor.university %></td>
</tr>
<tr>
  <td>出身地</td>
  <td><%= current_tutor.is_from %></td>
</tr>
<tr>
  <td>出身高校</td>
  <td><%= current_tutor.highschool %></td>
</tr>
<tr>
  <td>最近こんなことしてます</td>
  <td><%= current_tutor.nowadays %></td>
</tr>
<tr>
  <td>夢</td>
  <td><%= current_tutor.dream %></td>
</tr>
<tr>
  <td>運営からの紹介</td>
  <td><%= current_tutor.intro %></td>
</tr>
<tr>
  <td>担当曜日</td>
  <td><%= current_tutor.available_day %></td>
</tr>
<tr>
  <td>指導中の学生</td>
  <td>
    <% if current_tutor.users.nil? %>
      <%= '指導している学生はいません' %>
    <% else %>
      <ul>
      <% current_tutor.users.each do |user| %>
        <li>
          <%= image_tag url_for(:controller => 'users/registrations', :action => 'photo', :id => user.id), :height => '64', :width => '64', :class => 'img-circle' %>
          <%= user.name %>
        </li>
      <% end %>
      </ul>
    <% end %>
  </td>
</tr>
<tr>
  <td>最大指導人数</td>
  <td><%= current_tutor.capacity %></td>
</tr>
<tr>
  <td>受験で使った科目</td>
  <td>
    <ul>
      <% @subjects.each do |subject| %>
        <li><%= subject %></li>
      <% end %>
    </ul>
  </td>
</tr>
</table>
</div>
<hr>

<div class="container-fluid">
  <h3>メニュー</h3>
  <ul>
    <li><%= link_to '現在指導中の学生の詳細', tutor_home_show_user_path %></li>
    <li>コメントに返信する</li>
    <li><%= link_to "報告の一覧を見る", tutor_see_reports_index_path %></li>
    <li><%= link_to '設定', tutors_edit_profile_path %></li>
    <li>お問い合わせ</li>
  </ul>
</div>


