<div class="container-fluid">
<div class="row">

<% @new_users.each do |new_user| %>
<div class="col-md-12">
  <div class="alert alert-info">
    <%= new_user.name %>さんがあなたをチューターに指名しようとしています。承認して下さい。
    <%= link_to '承認する', url_for(:controller => 'tutor_home', :action => 'user_confirm', :id => new_user.id), method: :patch %>
  </div>
</div>
<% end %>

</div>

<div class="row">

<div class="col-md-4">
  <h3>メニュー</h3>
  <ul class="list-group">
    <%= link_to(tutor_home_index_path, :class => "list-group-item active") do %>
      <i class="fa fa-home fa-fw"></i>ホーム
    <% end %>
    <%= link_to(tutor_home_user_index_path, :class => "list-group-item") do %>
      <i class="fa fa-user fa-fw"></i>現在指導中の学生の詳細
    <% end %>
    <%= link_to(tutor_see_summary_index_path, :class => "list-group-item") do %>
      <i class="fa fa-bar-chart fa-fw"></i>報告の一覧を見る
    <% end %>
    <%= link_to(tutors_edit_profile_path , :class => "list-group-item") do %>
      <i class="fa fa-cog fa-fw"></i>プロフィールを変更する
    <% end %>
    <a class="list-group-item" data-toggle="modal" data-target="#sampleModal">
      <i class="fa fa-envelope-o fa-fw"></i>お問い合わせ
    </a>
  </ul>

<h3></h3>
<table class="table table-bordered table-striped">
<tbody>
<div style="text-align:center; margin-bottom: 20px;">
<% if current_tutor.photo == "" %>
  <%= image_tag '1310.png', :height => '120', :width => '120', :class=> 'img-circle' %>
<% else %>
  <%= image_tag url_for(:controller => 'tutors/registrations', :action => 'photo', :id => current_tutor.id), :height => '120', :width => '120', :class => 'img-circle' %>
<% end %>
<tr>
  <th>メールアドレス</th>
  <td><%= current_tutor.email %></td>
</tr>
<tr>
  <th>名前</th>
  <td><%= current_tutor.name %></td>
</tr>
<tr>
  <th>誕生日</th>
  <td><%= current_tutor.birth %></td>
</tr>
<tr>
  <th>大学・学年・学部</th>
  <td><%= current_tutor.university %></td>
</tr>
<tr>
  <th>出身地</th>
  <td><%= current_tutor.is_from %></td>
</tr>
<tr>
  <th>出身高校</th>
  <td><%= current_tutor.highschool %></td>
</tr>
<tr>
  <th>メッセージ</th>
  <td><%= current_tutor.welcome_message %></td>
</tr>
<tr>
  <th>最近こんなことしてます</th>
  <td><%= current_tutor.nowadays %></td>
</tr>
<tr>
  <th>夢</th>
  <td><%= current_tutor.dream %></td>
</tr>
<tr>
  <th>運営からの紹介</th>
  <td><%= current_tutor.intro %></td>
</tr>
<tr>
  <th>担当曜日</th>
  <td>
    <% case current_tutor.available_day %>
      <% when 0 then %>
        日曜日
      <% when 1 then %>
        月曜日
      <% when 2 then %>
        火曜日
      <% when 3 then %>
        水曜日
      <% when 4 then %>
        木曜日
      <% when 5 then %>
        金曜日
      <% when 6 then %>
        土曜日
    <% end %>
  </td>
</tr>
<tr>
  <th>指導中の学生</th>
  <td>
    <% if current_tutor.users.nil? %>
      <%= '指導している学生はいません' %>
    <% else %>
      <ul style="list-style:none;">
      <% current_tutor.users.each do |user| %>
        <li>
          <%= link_to "/tutor_home/user_show/#{user.id}" do %>
          <%= image_tag url_for(:controller => 'users/registrations', :action => 'photo', :id => user.id), :height => '64', :width => '64', :class => 'img-circle' %>
          <%= user.name %>
          <% if user.tutor_request_exists %>
            (未承認)
          <% end %>
          <% end %>
        </li>
      <% end %>
      </ul>
    <% end %>
  </td>
</tr>
<tr>
  <th>最大指導人数</th>
  <td><%= current_tutor.capacity %></td>
</tr>
<tr>
  <th>受験で使った科目</th>
  <td>
    <% @subjects.each do |subject, studytime| %>
      <% if subject == '現代文' or subject == '古文' or subject == '漢文' %>
      <span class = "label label-danger"><%= subject %></span>
      <% elsif subject == '英語' %>
        <span class = "label label-warning"><%= subject %></span>
      <% elsif subject == '数学' %>
        <span class = "label label-info"><%= subject %></span>
      <% elsif subject == '物理' or subject == '化学' or subject == '生物' or subject == '地学' %>
        <span class = "label label-success"><%= subject %></span>
      <% elsif subject == '世界史' or subject == '日本史' or subject == '地理' or subject == '政治経済' or subject == '倫理' or subject == '現代社会' %>
        <span class = "label label-default"><%= subject %></span>
      <% end %>
    <% end %>
</td>
</tr>
</tbody>
</table>
</div>


<div class="col-md-8">
  <h3>タイムライン</h3>
  <div>
    <%= will_paginate @tutor_events, :renderer => BootstrapPagination::Rails %>
  </div>
  <div class="list-group">
    <% @tutor_events.each do |tutor_event| %> 
      <%= link_to(tutor_event.link, :class => "list-group-item") do %>
        <i class="fa fa-clock-o fa-fw"></i><span><%= time_ago_in_words(tutor_event.created_at) %>前</span>&emsp;<span><%= tutor_event.status %></span>
      <% end %>
      </a>
    <% end %>
  </div>
  <div>
    <%= will_paginate @tutor_events, :renderer => BootstrapPagination::Rails %>
  </div>
</div>

</div>
</div>




