<div class="container-fluid">
<div class="row">

<div class="col-md-3">
  <h3>メニュー</h3>
  <ul class="list-group">
    <li class="list-group-item"><%= link_to '現在指導中の学生の詳細', tutor_home_user_index_path %></li>
    <li class="list-group-item">コメントに返信する</li>
    <li class="list-group-item"><%= link_to "報告の一覧を見る", tutor_see_summary_index_path %></li>
    <li class="list-group-item"><%= link_to '設定', tutors_edit_profile_path %></li>
    <li class="list-group-item">お問い合わせ</li>
  </ul>
</div>

<div class="timeline col-md-5">
  <h3>タイムライン</h3>
  <div>
    <table class="table table-bordered">
    <tbody>
    <% @tutor_events.each do |tutor_event| %>      
      <tr>
        <th><%= time_ago_in_words(tutor_event.created_at) %>前</th>
        <td><%= tutor_event.status %></td>
        <td><%= link_to '詳細', tutor_event.link %></td>
      </tr>
    <% end %>
    </tbody>
    </table>
  </div>
</div>

<div class="col-md-4">
<h3>チュータープロフィール</h3>
<table class="table table-bordered">
<tbody>
<tr>
  <th>メールアドレス</th>
  <td><%= current_tutor.email %></td>
</tr>
<tr>
  <th>名前</th>
  <td><%= current_tutor.name %></td>
</tr>
<tr>
  <th>プロフィール画像</th>
  <td>
    <% if current_tutor.photo == "" %>
      <%= image_tag '1310.png', :height => '64', :width => '64', :class=> 'img-circle' %>
    <% else %>
      <%= image_tag url_for(:controller => 'tutors/registrations', :action => 'photo', :id => current_tutor.id), :height => '64', :width => '64', :class => 'img-circle' %>
    <% end %>
  </td>
</tr>
<tr>
  <th>誕生日</th>
  <td><%= current_tutor.birth %></td>
</tr>
<tr>
  <th>大学・学年・学部</th>
  <td><%= current_tutor.university %></td>
</tr>
<tr>
  <th>出身地</th>
  <td><%= current_tutor.is_from %></td>
</tr>
<tr>
  <th>出身高校</th>
  <td><%= current_tutor.highschool %></td>
</tr>
<tr>
  <th>最近こんなことしてます</th>
  <td><%= current_tutor.nowadays %></td>
</tr>
<tr>
  <th>夢</th>
  <td><%= current_tutor.dream %></td>
</tr>
<tr>
  <th>運営からの紹介</th>
  <td><%= current_tutor.intro %></td>
</tr>
<tr>
  <th>担当曜日</th>
  <td>
    <% case current_tutor.available_day %>
      <% when 0 then %>
        日曜日
      <% when 1 then %>
        月曜日
      <% when 2 then %>
        火曜日
      <% when 3 then %>
        水曜日
      <% when 4 then %>
        木曜日
      <% when 5 then %>
        金曜日
      <% when 6 then %>
        土曜日
    <% end %>
  </td>
</tr>
<tr>
  <th>指導中の学生</th>
  <td>
    <% if current_tutor.users.nil? %>
      <%= '指導している学生はいません' %>
    <% else %>
      <ul>
      <% current_tutor.users.each do |user| %>
        <li>
          <%= link_to "/tutor_home/user_show/#{user.id}" do %>
          <%= image_tag url_for(:controller => 'users/registrations', :action => 'photo', :id => user.id), :height => '64', :width => '64', :class => 'img-circle' %>
          <%= user.name %>
          <% end %>
        </li>
      <% end %>
      </ul>
    <% end %>
  </td>
</tr>
<tr>
  <th>最大指導人数</th>
  <td><%= current_tutor.capacity %></td>
</tr>
<tr>
  <th>受験で使った科目</th>
  <td>
    <ul>
      <% @subjects.each do |subject, studytime| %>
        <li><%= subject %></li>
      <% end %>
    </ul>
  </td>
</tr>
</tbody>
</table>
</div>

</div>
</div>




