<div class="container-fluid">
<div class="row">

<div class="col-md-3">
  <h3>メニュー</h3>
  <ul class="list-group">
    <%= link_to(tutor_home_index_path, :class => "list-group-item") do %>
      <i class="fa fa-home fa-fw"></i>ホーム
    <% end %>
    <%= link_to(tutor_home_user_index_path, :class => "list-group-item") do %>
      <i class="fa fa-user fa-fw"></i>現在指導中の学生の詳細
    <% end %>
    <%= link_to(tutor_see_summary_index_path, :class => "list-group-item active") do %>
      <i class="fa fa-bar-chart fa-fw"></i>報告の一覧を見る
    <% end %>
    <%= link_to(tutors_edit_profile_path , :class => "list-group-item") do %>
      <i class="fa fa-cog fa-fw"></i>プロフィールを変更する
    <% end %>
    <a class="list-group-item" data-toggle="modal" data-target="#sampleModal">
      <i class="fa fa-envelope-o fa-fw"></i>お問い合わせ
    </a>
  </ul>
</div>

<div class = "col-md-9">

  <% @users.each do |user| %>
  <div class="panel panel-default">
    <p class="panel-heading"><strong><%= user.name %>の報告</strong></p>
    <ul>
      <table class="table">
        <tr>
          <th>報告日時</th>
          
          <th>コメントの状態</th>
          <th></th>
        </tr>
        <% user.summaries.each do |summary| %>
          <% if summary.tutor_id == current_tutor.id %>
            <tr>
              <td><%= summary.name %></td>
              
              <% if summary.comments.count > 7 %>
                <td>コメント数の上限に到達しました</td>
              <% elsif summary.comments.count % 2 == 0 %>
                <td><strong>未返信</strong></td>
              <% else %>
                <td>返信済み</td>
              <% end %>
              <td><%= link_to '詳細を見る', url_for(:controller => 'tutor_see_summary', :action => 'show', :id => summary.id) %></td>
            </tr>
          <% end %>
        <% end %>
      </table>
    </ul>
  </div>
  <% end %>
</div>

</div>
</div>