<div class="container-fluid">
<div class="row">

<div class="col-md-3">
  <h3>メニュー</h3>
  <ul class="list-group">
    <%= link_to(tutor_home_index_path, :class => "list-group-item") do %>
      <i class="fa fa-home fa-fw"></i>ホーム
    <% end %>
    <%= link_to(tutor_home_user_index_path, :class => "list-group-item active") do %>
      <i class="fa fa-user fa-fw"></i>現在指導中の学生の詳細
    <% end %>
    <%= link_to(tutor_see_summary_index_path, :class => "list-group-item") do %>
      <i class="fa fa-bar-chart fa-fw"></i>報告の一覧を見る
    <% end %>
    <%= link_to(tutors_edit_profile_path , :class => "list-group-item") do %>
      <i class="fa fa-cog fa-fw"></i>プロフィールを変更する
    <% end %>
    <a class="list-group-item" data-toggle="modal" data-target="#sampleModal">
      <i class="fa fa-envelope-o fa-fw"></i>お問い合わせ
    </a>
  </ul>
</div>

<div class = "col-md-9">
<h3>レポート</h3>

<div class = "panel panel-default" >
<div class = "panel-body panel-scroll">
<% @reports.each do |report| %>
<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title"><%= report.created_at.strftime('%Y年%m月%d日 %A') %></h3>
  </div>

  <div class = "panel-body">
    <div class="progress center-block" style="width: 80%">
      <div class="progress-bar progress-bar-danger" style="width: <%= (report.japanese_percentage+report.old_japanese_percentage+report.old_chinese_percentage) %>%">
        <%= (report.japanese_percentage+report.old_japanese_percentage+report.old_chinese_percentage) %>%
      </div>
      <div class="progress-bar progress-bar-info" style="width: <%= (report.math_percentage) %>%">
        <%= (report.math_percentage) %>%
      </div>
      <div class="progress-bar progress-bar-warning" style="width: <%= (report.english_percentage) %>%">
        <%= (report.english_percentage) %>%
      </div>
      <div class="progress-bar progress-bar-default" style="width: <%= (report.world_history_percentage+report.japanese_history_percentage+report.geography_percentage+report.politics_and_economics_percentage+report.ethics_percentage+report.modern_society_percentage) %>%">
        <%= (report.world_history_percentage+report.japanese_history_percentage+report.geography_percentage+report.politics_and_economics_percentage+report.ethics_percentage+report.modern_society_percentage) %>%
      </div>
      <div class="progress-bar progress-bar-success" style="width: <%= (report.chemistry_percentage+report.physics_percentage+report.biology_percentage+report.geology_percentage) %>%">
        <%= (report.chemistry_percentage+report.physics_percentage+report.biology_percentage+report.geology_percentage) %>%
      </div>
    </div>
    <div class = "col-md-8">

      <table class = "table">
        <% if report.user.subject.japanese %>
          <tr>
            <th class = "col-md-3">現代文</th>
            <td class = "col-md-2"><%= report.japanese_percentage %>%</td>
            <td><%= report.japanese_comment %></td>
          </tr>
        <% end %>

        <% if report.user.subject.old_japanese %>
          <tr>
            <th>古文</th>
            <td><%= report.old_japanese_percentage %>%</td>
            <td><%= report.old_japanese_comment %></td>
          </tr>
        <% end %>

        <% if report.user.subject.old_chinese %>
          <tr>
            <th>漢文</th>
            <td><%= report.old_chinese_percentage %>%</td>
            <td><%= report.old_chinese_comment %></td>
          </tr>
        <% end %>

        <% if report.user.subject.english %>
          <tr>
            <th>英語</th>
            <td><%= report.english_percentage %>%</td>
            <td><%= report.english_comment %></td>
          </tr>
        <% end %>

        <% if report.user.subject.math %>
          <tr>
            <th>数学</th>
            <td><%= report.math_percentage %>%</td>
            <td><%= report.math_comment %></td>
          </tr>
        <% end %>

        <% if report.user.subject.physics %>
          <tr>
            <th>物理</th>
            <td><%= report.physics_percentage %>%</td>
            <td><%= report.physics_comment %></td>
          </tr>
        <% end %>

        <% if report.user.subject.chemistry %>
          <tr>
            <th>化学</th>
            <td><%= report.chemistry_percentage %>%</td>
            <td><%= report.chemistry_comment %></td>
          </tr>
        <% end %>

        <% if report.user.subject.biology %>
          <tr>
            <th>生物</th>
            <td><%= report.biology_percentage %>%</td>
            <td><%= report.biology_comment %></td>
          </tr>
        <% end %>

        <% if report.user.subject.geology %>
          <tr>
            <th>地学</th>
            <td><%= report.geology_percentage %>%</td>
            <td><%= report.geology_comment %></td>
          </tr>
        <% end %>

        <% if report.user.subject.world_history %>
          <tr>
            <th>世界史</th>
            <td><%= report.world_history_percentage %>%</td>
            <td><%= report.world_history_comment %></td>
          </tr>
        <% end %>

        <% if report.user.subject.japanese_history %>
          <tr>
            <th>日本史</th>
            <td><%= report.japanese_history_percentage %>%</td>
            <td><%= report.japanese_history_comment %></td>
          </tr>
        <% end %>

        <% if report.user.subject.politics_and_economics %>
          <tr>
            <th>政治経済</th>
            <td><%= report.politics_and_economics_percentage %>%</td>
            <td><%= report.politics_and_economics_comment %></td>
          </tr>
        <% end %>

        <% if report.user.subject.modern_society %>
          <tr>
            <th>現代社会</th>
            <td><%= report.modern_society_percentage %>%</td>
            <td><%= report.modern_society_comment %></td>
          </tr>
        <% end %>

        <% if report.user.subject.ethics %>
          <tr>
            <th>倫理</th>
            <td><%= report.ethics_percentage %>%</td>
            <td><%= report.ethics_comment %></td>
          </tr>
        <% end %>

        <% if report.user.subject.geography %>
          <tr>
            <th>地理</th>
            <td><%= report.geography_percentage %>%</td>
            <td><%= report.geography_comment %></td>
          </tr>
        <% end %>
        <tr>
          <th>今日の勉強時間:</th>
          <td><%= report.average_studytime %>時間</td>
          <td></td>
        </tr>

        <tr>
          <th>コメント:</th>
          <td colspan="2"><%= report.free_comment %></td>
          <td></td>
        </tr>
      </table>
    </div>
  </div>
</div>
<% end %>
</div>
</div>

<div class = "comment">
<% if @comments %>
  <% @comments.each do |comment| %>
    <% if comment.created_by_user %>
      <div class="panel panel-default panel-comment-user panel-info">
        <div class="panel-heading">
          <h3 class="panel-title"><%= comment.user.name %>さん <%= comment.created_at.strftime('%Y年%m月%d日 %A') %> <span class = "badge"><%= comment.comment_count %></span></h3>
        </div>
        <div class = "panel-body">
          <p><%= simple_format(comment.content) %></p>
          <%# if comment.created_by_user %>
            <%# if comment.read_flag %>
              <!--<p>既読</p>-->
            <% #end %>
          <% #end %>
        </div>
      </div>
      <% if comment.user.photo == "" %>
        <%= image_tag '1310.png', :height => '100', :width => '100', :class=> 'img-circle', :style => "float:right; vertical-align:middle; margin-right:3%" %>
      <% else %>
        <%= image_tag url_for(:controller => 'users/registrations', :action => 'photo', :id => comment.user.id), :height => '100', :width => '100', :class => 'img-circle', :style => "float:right; vertical-align:middle; margin-right:3%" %>
      <% end %>

    <% else %>
      
      <div class="panel panel-default panel-comment-tutor panel-warning">
        <div class="panel-heading">
          <h3 class="panel-title"><%= comment.tutor.name %>チューター <%= comment.created_at.strftime('%Y年%m月%d日 %A') %> <span class = "badge"><%= comment.comment_count %></h3>
        </div>
        <div class = "panel-body">
          <p><%= simple_format(comment.content) %></p>
          <% if comment.created_by_user %>
            <% if comment.read_flag %>
              <p>既読</p>
            <% end %>
          <% end %>
        </div>
      </div>
      <% if current_tutor.photo == "" %>
        <%= image_tag '1310.png', :height => '100', :width => '100', :class=> 'img-circle', :style => "float:left; vertical-align:middle; margin-left:3%" %>
      <% else %>
        <%= image_tag url_for(:controller => 'tutors/registrations', :action => 'photo', :id => current_tutor), :height => '100', :width => '100', :class => 'img-circle', :style => "float:left; vertical-align:middle; margin-left:3%" %>
      <% end %>
    <% end %>
  <% end %>
<% end %>
</div>

<div style="clear:both;">
  <% if @summary.comments.count > 7 %>
    <p>コメント数の上限に到達しました</p>
  <% elsif @summary.comments.count % 2 == 1 %>
    <p>ユーザーからの返信待ちです</p>
  <% else %>
    <%= render 'comments/form' %>
  <% end %>
</div>
</div>
</div>

</div>


<script type = "text/javascript">

// var pink = document.getElementById("bar_pink");
// var japanese = pink.getAttribute('data-pink');

var japanese = $("#bar_pink").data("japanese");
var math = $("#bar_blue").data("math");
var english = $("#bar_yellow").data("english");
var social = $("#bar_purple").data("social");
var science = $("#bar_green").data("science");
var doughnutData = [
　　{
　　　value: japanese,
     color:"#ff0000"
　　},
　　{
　　　value: math,
　　　color: "#3300FF"
　　},
　　{
　　　value: english,
　　　color: "#FFFF00"
　　},
   {
　　　value: social,
　　　color: "#CC00FF"
　　},
   {
　　　value: science,
　　　color: "#33FF00"
　　},
];
 
var myDoughnut = new Chart(document.getElementById("bar").getContext("2d")).Doughnut(doughnutData);

</script>
