<div class="modal fade" id="sampleModal2" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="text-center modal-title">科目を選択して下さい</h4>
      </div>
      <div class="modal-body">
        <div class="container-fluid">
          <div class="row">
            <% @subjects[0].each do |subject, studytime| %>
              <% if subject == '現代文' %>
                <%= link_to home_study_path(:subject_attribute => 1) do %><button class = "btn btn-danger col-xs-12 btn-lg" style="margin-bottom:10px;"><%= subject %></button><% end %>
              <% elsif subject == '古文' %>
                <%= link_to home_study_path(:subject_attribute => 2) do %><button class = "btn btn-danger col-xs-12 btn-lg" style="margin-bottom:10px;"><%= subject %></button><% end %>
              <% elsif subject == '漢文' %>
                <%= link_to home_study_path(:subject_attribute => 3) do %><button class = "btn btn-danger col-xs-12 btn-lg" style="margin-bottom:10px;"><%= subject %></button><% end %>
              <% elsif subject == '英語' %>
                <%= link_to home_study_path(:subject_attribute => 4) do %><button class = "btn btn-warning col-xs-12 btn-lg" style="margin-bottom:10px;"><%= subject %></button><% end %>
              <% elsif subject == '数学' %>
                <%= link_to home_study_path(:subject_attribute => 5) do %><button class = "btn btn-info col-xs-12 btn-lg" style="margin-bottom:10px;"><%= subject %></button><% end %>
              <% elsif subject == '物理' %>
                <%= link_to home_study_path(:subject_attribute => 6) do %><button class = "btn btn-success col-xs-12 btn-lg" style="margin-bottom:10px;"><%= subject %></button><% end %>
              <% elsif subject == '化学' %>
                <%= link_to home_study_path(:subject_attribute => 7) do %><button class = "btn btn-success col-xs-12 btn-lg" style="margin-bottom:10px;"><%= subject %></button><% end %>
              <% elsif subject == '生物' %>
                <%= link_to home_study_path(:subject_attribute => 8) do %><button class = "btn btn-success col-xs-12 btn-lg" style="margin-bottom:10px;"><%= subject %></button><% end %>
              <% elsif subject == '地学' %>
                <%= link_to home_study_path(:subject_attribute => 9) do %><button class = "btn btn-success col-xs-12 btn-lg" style="margin-bottom:10px;"><%= subject %></button><% end %>
              <% elsif subject == '世界史' %>
                <%= link_to home_study_path(:subject_attribute => 10) do %><button class = "btn btn-default col-xs-12 btn-lg" style="margin-bottom:10px;background-color:rgb(119,119,119);color:#fff;"><%= subject %></button><% end %>
              <% elsif subject == '日本史' %>
                <%= link_to home_study_path(:subject_attribute => 11) do %><button class = "btn btn-default col-xs-12 btn-lg" style="margin-bottom:10px;background-color:rgb(119,119,119);color:#fff;"><%= subject %></button><% end %>
              <% elsif subject == '地理' %>
                <%= link_to home_study_path(:subject_attribute => 12) do %><button class = "btn btn-default col-xs-12 btn-lg" style="margin-bottom:10px;background-color:rgb(119,119,119);color:#fff;"><%= subject %></button><% end %>
              <% elsif subject == '政治経済' %>
                <%= link_to home_study_path(:subject_attribute => 13) do %><button class = "btn btn-default col-xs-12 btn-lg" style="margin-bottom:10px;background-color:rgb(119,119,119);color:#fff;"><%= subject %></button><% end %>
              <% elsif subject == '倫理' %>
                <%= link_to home_study_path(:subject_attribute => 14) do %><button class = "btn btn-default col-xs-12 btn-lg" style="margin-bottom:10px;background-color:rgb(119,119,119);color:#fff;"><%= subject %></button><% end %>
              <% elsif subject == '現代社会' %>
                <%= link_to home_study_path(:subject_attribute => 15) do %><button class = "btn btn-default col-xs-12 btn-lg" style="margin-bottom:10px;background-color:rgb(119,119,119);color:#fff;"><%= subject %></button><% end %>
              <% end %>
            <% end %>
            
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <a href="#" data-dismiss="modal">閉じる</a>
      </div>
      
    </div>
  </div>
</div>