<%= form_for(@inquiry ||= Inquiry.new, url: { controller: '/inquiry', action: 'send_mail' }) do |f| %>
<div class="modal fade" id="sampleModal" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span>×</span></button>
        <h4 class="modal-title">お問い合わせ</h4>
      </div>
      <div class="modal-body">
      
        <% if @inquiry.errors.any? %>
        <div class="alert alert-danger" role="alert">
          <strong>入力内容にエラーがあります</strong>
          <ul>
            <% @inquiry.errors.each do |attr, msg| %>
              <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
        <% end %>
        <table class="table">
          <tr class="row">
            <div class="form-group">
              <th class="col-md-4">名前<span class="text-danger">（必須）</span></th>
              <% if current_user %>
                <td class="col-md-8"><%= f.text_field :name, :value => "#{current_user.name}様", :class => 'form-control', :readonly => true %></td>
              <% elsif current_tutor %>
                <td class="col-md-8"><%= f.text_field :name, :value => "#{current_tutor.name}様", :class => 'form-control', :readonly => true %></td>
              <% else %>
                <td class="col-md-8"><%= f.text_field :name, :class => 'form-control' %></td>
              <% end %>
            </div>
          </tr>
          <tr class="row">
            <div class="form-group">
              <th class="col-md-4">メールアドレス<span class="text-danger">（必須）</span></th>
              <% if current_user %>
                <td class="col-md-8"><%= f.text_field :email, :value => current_user.email, :class => 'form-control', :readonly => true %></td>
              <% elsif current_tutor %>
                <td class="col-md-8"><%= f.text_field :email, :value => current_tutor.email, :class => 'form-control', :readonly => true %></td>
              <% else %>
                <td class="col-md-8"><%= f.text_field :email, :class => 'form-control' %></td>
              <% end %>
            </div>
          </tr>
          <tr class="row">
            <div class="form-group">
              <th class="col-md-4">お問い合わせ内容</th>
              <td class="col-md-8"><%= f.text_area :message, :class => 'form-control input-lg', :rows => "8" %></td>
            </div>
          </tr>
        </table>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">閉じる</button>
        <%= f.submit '送信', class: 'btn btn-primary' %>
      </div>
      
    </div>
  </div>
</div>
<% end %>