<div class="container-fluid">
<div class="row">

<div class="menu col-md-4">
<h3>ユーザープロフィール</h3>
<div class="mentor_top_left" id="mentor_left">
  <div class="mentor_top_container_left">
      <table class="mentor_account_table">
        <tr>
          <div class="mentor_img_2">
            <% if current_user.photo == "" %>
              <%= image_tag '1310.png', :height => '140', :width => '140', :class=> 'img-circle' %>
            <% else %>
              <%= image_tag url_for(:controller => 'users/registrations', :action => 'photo', :id => current_user.id), :height => '140', :width => '140', :class => 'img-circle' %>
            <% end %>
          </div>
        </tr>
        <tr class="tr_boarder">
          <th>名前</th>
          <td class="indent"><%= current_user.name %></td> 
        </tr>
        <tr class="tr_boarder">
          <th>メールアドレス</th>
          <td class="indent"><%= current_user.email %></td>
        </tr>
        <tr class="tr_boarder">
          <th>誕生日</th>
          <td class="indent"><%= current_user.birth %></td>
        </tr>
        <tr class="tr_boarder">
          <th>学年</th>
          <td class="indent"><%= current_user.year %>年</td>
        </tr>
        <tr class="tr_boarder">
          <th>学校名</th>
          <td class="indent"><%= current_user.school %></td>
        </tr>
        <tr class="tr_boarder">
          <th>住所</th>
          <td class="indent"><%= current_user.lives_in %></td>
        </tr>
        <tr class="tr_boarder">
          <th>志望校</th>
          <td class="indent"><%= current_user.school_desire %></td>
        </tr>
        <tr class="tr_boarder">
          <th>選択中のチューター</th>
          <td class="indent">
            <% if current_user.tutor.nil? %>
              <%= '選択されていません' %>
            <% else %>
            <% if current_user.tutor_request_exists %>
              現在承認待ちです。報告・コメント機能は承認後にご使用いただけます。
            <% end %>
            <%= link_to "/select_tutor/show/#{current_user.tutor.id.to_s}" do %>
            <%= image_tag url_for(:controller => 'tutors/registrations', :action => 'photo', :id => current_user.tutor.id), :height => '64', :width => '64', :class => 'img-circle' %>
        <%= current_user.tutor.name %>
      <% end %>
    <% end %>
          </td>
        </tr>
        <tr class="tr_boarder">
          <th>記録回数</th>
          <td class="indent"><%= current_user.reports.count %></td>
        </tr>
        <tr class="tr_boarder">
          <th>報告したい科目</th>
          <td class="indent">
            <ul>
              <% @subjects.each do |subject, studytime| %>
              <li><%= subject %></li>
              <% end %>
            </ul>
          </td>
        </tr>
        <tr class="tr_boarder">
          <th>合計勉強時間</th>
          <td class="indent"><%= @total_studytime %>時間</td>
        </tr>
        <tr class="tr_boarder">
          <th>科目別勉強時間</th>
          <td class="indent"><%= @total_studytime %>時間</td>
        </tr>
        <tr class="tr_boarder">
          <th>合計勉強時間</th>
          <td class="indent">
            <ul>
              <% @subjects.each do |subject, studytime| %>
              <li><%= subject %>：　<%= studytime %>時間</li>
              <% end %>
            </ul>
            合計が上と等しくない場合があります
          </td>
        </tr>
    </table>
    </div>
    </div>


</div>

<div class="timeline col-md-8 ">
  <h3>タイムライン</h3>
  <section id="cd-timeline" class="cd-container">
    <div class="cd-timeline-block">
      <div class="cd-timeline-content">
        <% @user_events.each do |user_event| %>
        <td class="table-color-<%= user_event.event_type %>"><%= user_event.status %></td>
        <h2><%= user_event.status %></h2>
        <a href="" class="cd-read-more">詳細</a>
        <span class="cd-date"><%= time_ago_in_words(user_event.created_at) %>前</span>
        <% end %>
      </div>
    </div>

    <div class="cd-timeline-block">
      <div class="cd-timeline-content">
        <% @user_events.each do |user_event| %>
        <td class="table-color-<%= user_event.event_type %>"><%= user_event.status %></td>
        <h2><%= user_event.status %></h2>
        <a href="" class="cd-read-more">詳細</a>
        <span class="cd-date"><%= time_ago_in_words(user_event.created_at) %>前</span>
        <% end %>
      </div>
    </div>
  </section>
</div>

<div class="sidebar col-md-4">
<h3>メニュー</h3>
  <ul class="list-group">
    <li class="list-group-item"><%= link_to '勉強を記録する', new_report_path %></li>
    <li class="list-group-item"><%= link_to '記録の一覧を見る', reports_path %></li>
    <li class="list-group-item"><%= link_to 'チューターへの報告の一覧を見る', summaries_path %></li>
    <li class="list-group-item"><%= link_to 'チューターを選択/変更する', select_tutor_index_path %></li>
    <li class="list-group-item"><%= link_to '設定', users_edit_profile_path %></li>
    <li class="list-group-item">お問い合わせ</li>
  </ul>
</div>

</div>
</div>







