<div class="container-fluid">
<div class="row">

<div class="menu col-md-3">
  <h3>メニュー</h3>
  <ul class="list-group">
    <li class="list-group-item"><%= link_to '勉強を記録する', new_report_path %></li>
    <li class="list-group-item"><%= link_to '記録の一覧を見る', reports_path %></li>
    <li class="list-group-item"><%= link_to 'チューターへの報告の一覧を見る', summaries_path %></li>
    <li class="list-group-item"><%= link_to 'チューターを選択/変更する', select_tutor_index_path %></li>
    <li class="list-group-item"><%= link_to '設定', users_edit_profile_path %></li>
    <li class="list-group-item">お問い合わせ</li>
  </ul>
</div>

<div class="timeline col-md-5">
  <h3>タイムライン</h3>
  <div>
    <table class="table table-bordered">
    <tbody>
    <% @user_events.each do |user_event| %>      
      <tr>
        <th><%= time_ago_in_words(user_event.created_at) %>前</th>
        <td class="table-color-<%= user_event.event_type %>"><%= user_event.status %></td>
        <td><%= link_to '詳細', user_event.link %></td>
      </tr>
    <% end %>
    </tbody>
    </table>
  </div>
</div>

<div class="sidebar col-md-4">
<h3>ユーザープロフィール</h3>
<table class="table table-bordered">
<tbody>
<tr>
  <th>メールアドレス</th>
  <td><%= current_user.email %></td>
</tr>
<tr>
  <th>名前</th>
  <td><%= current_user.name %></td>
</tr>
<tr>
  <th>プロフィール画像</th>
  <td>
    <% if current_user.photo == "" %>
      <%= image_tag '1310.png', :height => '64', :width => '64', :class=> 'img-circle' %>
    <% else %>
      <%= image_tag url_for(:controller => 'users/registrations', :action => 'photo', :id => current_user.id), :height => '64', :width => '64', :class => 'img-circle' %>
    <% end %>
  </td>
</tr>
<tr>
  <th>誕生日</th>
  <td><%= current_user.birth %></td>
</tr>
<tr>
  <th>学年</th>
  <td><%= current_user.year %></td>
</tr>
<tr>
  <th>学校名</th>
  <td><%= current_user.school %></td>
</tr>
<tr>
  <th>住所</th>
  <td><%= current_user.lives_in %></td>
</tr>
<tr>
  <th>志望校</th>
  <td><%= current_user.school_desire %></td>
</tr>
<tr>
  <th>選択中のチューター</th>
  <td>
    <% if current_user.tutor.nil? %>
      <%= '選択されていません' %>
    <% else %>
      <%= link_to "/select_tutor/show/#{current_user.tutor.id.to_s}" do %>
        <%= image_tag url_for(:controller => 'tutors/registrations', :action => 'photo', :id => current_user.tutor.id), :height => '64', :width => '64', :class => 'img-circle' %>
        <%= current_user.tutor.name %>
      <% end %>
    <% end %>
  </td>
</tr>
<tr>
  <th>記録回数</th>
  <td><%= current_user.reports.count %></td>
</tr>
<tr>
  <th>報告したい科目</th>
  <td>
    <ul>
      <% @subjects.each do |subject, studytime| %>
        <li><%= subject %></li>
      <% end %>
    </ul>
  </td>
</tr>
<tr>
  <th>合計勉強時間</th>
  <td><%= @total_studytime %>時間</td>
</tr>
<tr>
  <th>科目別勉強時間</th>
  <td>
    <ul>
      <% @subjects.each do |subject, studytime| %>
        <li><%= subject %>：　<%= studytime %>時間</li>
      <% end %>
    </ul>
    合計が上と等しくない場合があります
  </td>
</tr>
</tbody>
</table>
</div>

</div>
</div>






