<div id="header">
</div>
<div id="authMessage" class="message">ご利用されるにはログインが必要です。</div>
<div id="">
<div id="login">
  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <legend class="login_form_legend">大学生ログイン</legend>
  <p>
    <span><%= fa_icon "user" %></span>
    <div class="input text required">
      <%= f.email_field :email, autofocus: true, :placeholder => "email"%> 
    </div>           
  </p>
  <p>
  <span><%= fa_icon "lock" %></span>
    <div class="input password required">
      <%= f.password_field :password, autocomplete: "off", :placeholder => "password"%>
    </div>                  
  </p>
  <div class="submit">
      <%= f.submit "Login", :class => "login_btn" %>
  </div>
  <% end %>
  <p>
    <a href="sign_up/">アカウント作成</a>
    <span><%= fa_icon "angle-right" %></span>
  </p>
</div> 
