<div class="container-fluid">
<h3><%= @report.user.name %>さんの報告</h3>

<% if @report.user.subject.japanese %>
<p>
  <strong>Japanese percentage:</strong>
  <%= @report.japanese_percentage %>
</p>

<p>
  <strong>Japanese comment:</strong>
  <%= @report.japanese_comment %>
</p>
<% end %>

<% if @report.user.subject.old_japanese %>
<p>
  <strong>Old japanese percentage:</strong>
  <%= @report.old_japanese_percentage %>
</p>

<p>
  <strong>Old japanese comment:</strong>
  <%= @report.old_japanese_comment %>
</p>
<% end %>

<% if @report.user.subject.old_chinese %>
<p>
  <strong>Old chinese percentage:</strong>
  <%= @report.old_chinese_percentage %>
</p>

<p>
  <strong>Old chinese comment:</strong>
  <%= @report.old_chinese_comment %>
</p>
<% end %>

<% if @report.user.subject.english %>
<p>
  <strong>English percentage:</strong>
  <%= @report.english_percentage %>
</p>

<p>
  <strong>English comment:</strong>
  <%= @report.english_comment %>
</p>
<% end %>

<% if @report.user.subject.math %>
<p>
  <strong>Math percentage:</strong>
  <%= @report.math_percentage %>
</p>

<p>
  <strong>Math comment:</strong>
  <%= @report.math_comment %>
</p>
<% end %>

<% if @report.user.subject.physics %>
<p>
  <strong>Physics percentage:</strong>
  <%= @report.physics_percentage %>
</p>

<p>
  <strong>Physics comment:</strong>
  <%= @report.physics_comment %>
</p>
<% end %>

<% if @report.user.subject.chemistry %>
<p>
  <strong>Chemistry percentage:</strong>
  <%= @report.chemistry_percentage %>
</p>

<p>
  <strong>Chemistry comment:</strong>
  <%= @report.chemistry_comment %>
</p>
<% end %>

<% if @report.user.subject.biology %>
<p>
  <strong>Biology percentage:</strong>
  <%= @report.biology_percentage %>
</p>

<p>
  <strong>Biology comment:</strong>
  <%= @report.biology_comment %>
</p>
<% end %>

<% if @report.user.subject.geology %>
<p>
  <strong>Geology percentage:</strong>
  <%= @report.geology_percentage %>
</p>

<p>
  <strong>Geology comment:</strong>
  <%= @report.geology_comment %>
</p>
<% end %>

<% if @report.user.subject.world_history %>
<p>
  <strong>World history percentage:</strong>
  <%= @report.world_history_percentage %>
</p>

<p>
  <strong>World history comment:</strong>
  <%= @report.world_history_comment %>
</p>
<% end %>

<% if @report.user.subject.japanese_history %>
<p>
  <strong>Japanese history percentage:</strong>
  <%= @report.japanese_history_percentage %>
</p>

<p>
  <strong>Japanese history comment:</strong>
  <%= @report.japanese_history_comment %>
</p>
<% end %>

<% if @report.user.subject.politics_and_economics %>
<p>
  <strong>Politics and economics percentage:</strong>
  <%= @report.politics_and_economics_percentage %>
</p>

<p>
  <strong>Politics and economics comment:</strong>
  <%= @report.politics_and_economics_comment %>
</p>
<% end %>

<% if @report.user.subject.modern_society %>
<p>
  <strong>Modern society percentage:</strong>
  <%= @report.modern_society_percentage %>
</p>

<p>
  <strong>Modern society comment:</strong>
  <%= @report.modern_society_comment %>
</p>
<% end %>

<% if @report.user.subject.ethics %>
<p>
  <strong>Ethics percentage:</strong>
  <%= @report.ethics_percentage %>
</p>

<p>
  <strong>Ethics comment:</strong>
  <%= @report.ethics_comment %>
</p>
<% end %>

<% if @report.user.subject.geography %>
<p>
  <strong>Geography percentage:</strong>
  <%= @report.geography_percentage %>
</p>

<p>
  <strong>Geography comment:</strong>
  <%= @report.geography_comment %>
</p>
<% end %>

<p>
  <strong>Average studytime:</strong>
  <%= @report.average_studytime %>
</p>

<p>
  <strong>Free comment:</strong>
  <%= @report.free_comment %>
</p>
<hr>

<h3>コメント</h3>
<% if @comments %>
  <% @comments.each do |comment| %>
  <div class="panel panel-default">
    <p><%= comment.comment_count %></p>
    <p><%= comment.created_at %></p>
    <% if comment.created_by_user %>
      <p>ユーザーID：<%= comment.user_id %></p>
    <% else %>
      <p>チューターID：<%= comment.tutor_id %></p>
    <% end %>
    <p><%= comment.content %></p>
    <%= link_to '削除', comment, method: :delete, data: { confirm: 'コメントを削除してよろしいですか？' } %>
  </div>
  <% end %>

  <% if @comments.count > 7 %>
    <p>コメント数の上限に到達しました</p>
  <% elsif @comments.count % 2 == 1 %>
    <p>ユーザーからの返信待ちです</p>
  <% else %>
    <%= render 'comments/form' %>
  <% end %>
<% else %>
  <%= render 'comments/form' %>
<% end %>

</div>