<div class="container-fluid">
<%= form_for(@report) do |f| %>
<div class="row">
  <% if @report.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@report.errors.count, "error") %> prohibited this report from being saved:</h2>

      <ul>
      <% @report.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
</div>

<div class="row">
<div class="col-md-3">
</div>
<div class="col-md-6">  
<% unless current_user.subject.nil? %>
  <table class="table table-bordered">
  <tbody>
  <% if current_user.subject.japanese %>
    <tr>
      <td>
        <div class="field">
          <%= f.label '現代文にかけた時間の割合：' %>
          <%= f.number_field :japanese_percentage %><b>%</b>
        </div>
      </td>
      <td>
        <div class="field">
          <%= f.label '現代文のコメント：' %>
          <%= f.text_area :japanese_comment %>
        </div>
      </td>
    </tr>
  <% end %>
  <% if current_user.subject.old_japanese %>
    <tr>
      <td>
        <div class="field">
          <%= f.label '古文にかけた時間の割合：' %>
          <%= f.number_field :old_japanese_percentage %><b>%</b>
        </div>
      </td>
      <td>
        <div class="field">
          <%= f.label '古文のコメント：' %>
          <%= f.text_area :old_japanese_comment %>
        </div>
      </td>
    </tr>
  <% end %>
  <% if current_user.subject.old_chinese %>
    <tr>
      <td>
        <div class="field">
          <%= f.label '漢文にかけた時間の割合：' %>
          <%= f.number_field :old_chinese_percentage %><b>%</b>
        </div>
      </td>
      <td>
        <div class="field">
          <%= f.label '漢文のコメント：' %>
          <%= f.text_area :old_chinese_comment %>
        </div>
      </td>
    </tr>
  <% end %>
  <% if current_user.subject.english %>
    <tr>
      <td>
        <div class="field">
          <%= f.label '英語にかけた時間の割合：' %>
          <%= f.number_field :english_percentage %><b>%</b>
        </div>
      </td>
      <td>
        <div class="field">
          <%= f.label '英語のコメント：' %>
          <%= f.text_area :english_comment %>
        </div>
      </td>
    </tr>
  <% end %>
  <% if current_user.subject.math %>
    <tr>
      <td>
        <div class="field">
          <%= f.label '数学にかけた時間の割合：' %>
          <%= f.number_field :math_percentage %><b>%</b>
        </div>
      </td>
      <td>
        <div class="field">
          <%= f.label '数学のコメント：' %>
          <%= f.text_area :math_comment %>
        </div>
      </td>
    </tr>
  <% end %>
  <% if current_user.subject.physics %>
    <tr>
      <td>
        <div class="field">
          <%= f.label '物理にかけた時間の割合：' %>
          <%= f.number_field :physics_percentage %><b>%</b>
        </div>
      </td>
      <td>
        <div class="field">
          <%= f.label '物理のコメント：' %>
          <%= f.text_area :physics_comment %>
        </div>
      </td>
    </tr>
  <% end %>
  <% if current_user.subject.chemistry %>
    <tr>
      <td>
        <div class="field">
          <%= f.label '化学にかけた時間の割合：' %>
          <%= f.number_field :chemistry_percentage %><b>%</b>
        </div>
      </td>
      <td>
        <div class="field">
          <%= f.label '化学のコメント：' %>
          <%= f.text_area :chemistry_comment %>
        </div>
      </td>
    </tr>
  <% end %>
  <% if current_user.subject.biology %>
    <tr>
      <td>
        <div class="field">
          <%= f.label '生物にかけた時間の割合：' %>
          <%= f.number_field :biology_percentage %><b>%</b>
        </div>
      </td>
      <td>
        <div class="field">
          <%= f.label '生物のコメント：' %>
          <%= f.text_area :biology_comment %>
        </div>
      </td>
    </tr>
  <% end %>
  <% if current_user.subject.geology %>
    <tr>
      <td>
        <div class="field">
          <%= f.label '地学にかけた時間の割合：' %>
          <%= f.number_field :geology_percentage %><b>%</b>
        </div>
      </td>
      <td>
        <div class="field">
          <%= f.label '地学のコメント：' %>
          <%= f.text_area :geology_comment %>
        </div>
      </td>
    </tr>
  <% end %>
  <% if current_user.subject.world_history %>
    <tr>
      <td>
        <div class="field">
          <%= f.label '世界史にかけた時間の割合：' %>
          <%= f.number_field :world_history_percentage %><b>%</b>
        </div>
      </td>
      <td>
        <div class="field">
          <%= f.label '世界史のコメント：' %>
          <%= f.text_area :world_history_comment %>
        </div>
      </td>
    </tr>
  <% end %>
  <% if current_user.subject.japanese_history %>
    <tr>
      <td>
        <div class="field">
          <%= f.label '日本史にかけた時間の割合：' %>
          <%= f.number_field :japanese_history_percentage %><b>%</b>
        </div>
      </td>
      <td>
        <div class="field">
          <%= f.label '日本史のコメント：' %>
          <%= f.text_area :japanese_history_comment %>
        </div>
      </td>
    </tr>
  <% end %>
  <% if current_user.subject.politics_and_economics %>
    <tr>
      <td>
        <div class="field">
          <%= f.label '政治経済にかけた時間の割合：' %>
          <%= f.number_field :politics_and_economics_percentage %><b>%</b>
        </div>
      </td>
      <td>
        <div class="field">
          <%= f.label '政治経済のコメント：' %>
          <%= f.text_area :politics_and_economics_comment %>
        </div>
      </td>
    </tr>
  <% end %>
  <% if current_user.subject.modern_society %>
    <tr>
      <td>
        <div class="field">
          <%= f.label '現代社会にかけた時間の割合：' %>
          <%= f.number_field :modern_society_percentage %><b>%</b>
        </div>
      </td>
      <td>
        <div class="field">
          <%= f.label '現代社会のコメント：' %>
          <%= f.text_area :modern_society_comment %>
        </div>
      </td>
    </tr>
  <% end %>
  <% if current_user.subject.ethics %>
    <tr>
      <td>
        <div class="field">
          <%= f.label '倫理にかけた時間の割合：' %>
          <%= f.number_field :ethics_percentage %><b>%</b>
        </div>
      </td>
      <td>
        <div class="field">
          <%= f.label '倫理のコメント：' %>
          <%= f.text_area :ethics_comment %>
        </div>
      </td>
    </tr>
  <% end %>
  <% if current_user.subject.geography %>
    <tr>
      <td>
        <div class="field">
          <%= f.label '地理にかけた時間の割合：' %>
          <%= f.number_field :geography_percentage %><b>%</b>
        </div>
      </td>
      <td>
        <div class="field">
          <%= f.label '地理のコメント：' %>
          <%= f.text_area :geography_comment %>
        </div>
      </td>
    </tr>
  <% end %>
  <tr>
    <td colspan="2">
      <div class="field">
        <%= f.label '今日の合計勉強時間：'%>
        <%= f.number_field :average_studytime %><b>時間</b>
      </div>
    </td>
  </tr>
  <tr>
    <td colspan="2">
      <div class="field">
        <%= f.label '自由コメント：' %><br>
        <%= f.text_area :free_comment %>
      </div>
    </td>
  </tr>
  </tbody>
  </table>
  <div class="actions">
    <%= f.submit '送信', data: { confirm: '送信しますか？' } %>
  </div>
</div>
<div class="col-md-3">
</div>

<% end %>
<% end %>
</div>
</div>
