<%= form_for(@report, :html => {:class => ""}) do |f|%>
<div class="container-fluid">
  <% if @report.errors.any? %>
    <div id="error_explanation" class="container-fluid panel panel-default">
      <h5><%= pluralize(@report.errors.count, "error") %> prohibited this report from being saved:</h5><br>
      <ul style="list-style:none;">
        <% @report.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  
  <% unless current_user.subject.nil? %>
    <% if current_user.subject.japanese %>
    <div class="row">
      <!--<div class="col-md-4 col-xs-12 new-report-form-item">
        <button type="button" class="btn btn-default japanese-border" style="float:left;margin-right:4px;"><i class="fa fa-minus-circle"></i><strong> 60分</strong></button>
        <button type="button" class="btn btn-default japanese-border" style="float:left;margin-right:4px;"><i class="fa fa-minus-circle"></i><strong> 10分</strong></button>
        <button type="button" class="btn btn-default japanese-border visible-xs" style="float:left;margin-right:4px;"><i class="fa fa-plus-circle"></i><strong> 10分</strong></button>
        <button type="button" class="btn btn-default japanese-border visible-xs" style="float:left;"><i class="fa fa-plus-circle"></i><strong> 60分</strong></button>
      </div>-->
      <div class="col-md-4 col-xs-12 new-report-form-item">
        <div class="input-group" style="float:left;">
          <span class="input-group-addon japanese japanese-border"><strong>現代文</strong></span> 
          <%= f.number_field :japanese_percentage, :class => 'text-right form-control studytime japanese-border num', :style => 'height:100%' %>
          <span class="input-group-addon japanese japanese-border"><strong>分</strong></span>
        </div>
      </div>
      <!--
      <div class="col-md-4 hidden-xs new-report-form-item">
        <button type="button" class="btn btn-default japanese-border" style="float:right;"><i class="fa fa-plus-circle"></i><strong> 60分</strong></button>
        <button type="button" class="btn btn-default japanese-border" style="float:right;margin-right:4px;"><i class="fa fa-plus-circle"></i><strong> 10分</strong></button>
      </div>-->
      <div class="col-md-7 col-md-offset-1 col-xs-12 form-group new-report-form-item">
        <%= f.text_area :japanese_comment, :class => 'form-control japanese-border', :placeholder => "現代文のコメント", :style => 'height:80px' %>
      </div>
    </div>  
      
    <% end %>
    <% if current_user.subject.old_japanese %>
    <div class="row">
      <div class="col-md-4 col-xs-12 new-report-form-item">
        <div class="input-group" style="float:left;">
          <span class="input-group-addon japanese japanese-border"><strong>古文</strong></span> 
          <%= f.number_field :old_japanese_percentage, :class => 'text-right form-control studytime japanese-border num', :style => 'height:100%' %>
          <span class="input-group-addon japanese japanese-border"><strong>分</strong></span>
        </div>
      </div>
      <div class="col-md-7 col-md-offset-1 col-xs-12 form-group new-report-form-item">
        <%= f.text_area :old_japanese_comment, :class => 'form-control japanese-border', :placeholder => "古文のコメント", :style => 'height:80px' %>
      </div>
    </div>
    <% end %>

    <% if current_user.subject.old_chinese %>
    <div class="row">
      <div class="col-md-4 col-xs-12 new-report-form-item">
        <div class="input-group" style="float:left;">
          <span class="input-group-addon japanese japanese-border"><strong>漢文</strong></span> 
          <%= f.number_field :old_chinese_percentage, :class => 'text-right form-control studytime japanese-border num', :style => 'height:100%' %>
          <span class="input-group-addon japanese japanese-border"><strong>分</strong></span>
        </div>
      </div>
      <div class="col-md-7 col-md-offset-1 col-xs-12 form-group new-report-form-item">
        <%= f.text_area :old_chinese_comment, :class => 'form-control japanese-border', :placeholder => "漢文のコメント", :style => 'height:80px' %>
      </div>
    </div>
    <% end %>
    <% if current_user.subject.english %>
    <div class="row">
      <div class="col-md-4 col-xs-12 new-report-form-item">
        <div class="input-group" style="float:left;">
          <span class="input-group-addon english english-border"><strong>英語</strong></span> 
          <%= f.number_field :english_percentage, :class => 'text-right form-control studytime english-border num', :style => 'height:100%' %>
          <span class="input-group-addon english english-border"><strong>分</strong></span>
        </div>
      </div>
      <div class="col-md-7 col-md-offset-1 col-xs-12 form-group new-report-form-item">
        <%= f.text_area :english_comment, :class => 'form-control english-border', :placeholder => "英語のコメント", :style => 'height:80px' %>
      </div>
    </div>
    <% end %>
    <% if current_user.subject.math %>
    <div class="row">
      <div class="col-md-4 col-xs-12 new-report-form-item">
        <div class="input-group" style="float:left;">
          <span class="input-group-addon math math-border"><strong>数学</strong></span> 
          <%= f.number_field :math_percentage, :class => 'text-right form-control studytime math-border num', :style => 'height:100%' %>
          <span class="input-group-addon math math-border"><strong>分</strong></span>
        </div>
      </div>
      <div class="col-md-7 col-md-offset-1 col-xs-12 form-group new-report-form-item">
        <%= f.text_area :math_comment, :class => 'form-control math-border', :placeholder => "数学のコメント", :style => 'height:80px' %>
      </div>
    </div>
    <% end %>
    <% if current_user.subject.physics %>
    <div class="row">
      <div class="col-md-4 col-xs-12 new-report-form-item">
        <div class="input-group" style="float:left;">
          <span class="input-group-addon science science-border"><strong>物理</strong></span> 
          <%= f.number_field :physics_percentage, :class => 'text-right form-control studytime science-border num', :style => 'height:100%' %>
          <span class="input-group-addon science science-border"><strong>分</strong></span>
        </div>
      </div>
      <div class="col-md-7 col-md-offset-1 col-xs-12 form-group new-report-form-item">
        <%= f.text_area :physics_comment, :class => 'form-control science-border', :placeholder => "物理のコメント", :style => 'height:80px' %>
      </div>
    </div>
    <% end %>
    <% if current_user.subject.chemistry %>
    <div class="row">
      <div class="col-md-4 col-xs-12 new-report-form-item">
        <div class="input-group" style="float:left;">
          <span class="input-group-addon science science-border"><strong>化学</strong></span> 
          <%= f.number_field :chemistry_percentage, :class => 'text-right form-control studytime science-border num', :style => 'height:100%' %>
          <span class="input-group-addon science science-border"><strong>分</strong></span>
        </div>
      </div>
      <div class="col-md-7 col-md-offset-1 col-xs-12 form-group new-report-form-item">
        <%= f.text_area :chemistry_comment, :class => 'form-control science-border', :placeholder => "化学のコメント", :style => 'height:80px' %>
      </div>
    </div>
    <% end %>
    <% if current_user.subject.biology %>
    <div class="row">
      <div class="col-md-4 col-xs-12 new-report-form-item">
        <div class="input-group" style="float:left;">
          <span class="input-group-addon science science-border"><strong>生物</strong></span> 
          <%= f.number_field :biology_percentage, :class => 'text-right form-control studytime science-border num', :style => 'height:100%' %>
          <span class="input-group-addon science science-border"><strong>分</strong></span>
        </div>
      </div>
      <div class="col-md-7 col-md-offset-1 col-xs-12 form-group new-report-form-item">
        <%= f.text_area :biology_comment, :class => 'form-control science-border', :placeholder => "生物のコメント", :style => 'height:80px' %>
      </div>
    </div>
    <% end %>
    <% if current_user.subject.geology %>
    <div class="row">
      <div class="col-md-4 col-xs-12 new-report-form-item">
        <div class="input-group" style="float:left;">
          <span class="input-group-addon science science-border"><strong>地学</strong></span> 
          <%= f.number_field :geology_percentage, :class => 'text-right form-control studytime science-border num', :style => 'height:100%' %>
          <span class="input-group-addon science science-border"><strong>分</strong></span>
        </div>
      </div>
      <div class="col-md-7 col-md-offset-1 col-xs-12 form-group new-report-form-item">
        <%= f.text_area :geology_comment, :class => 'form-control science-border', :placeholder => "地学のコメント", :style => 'height:80px' %>
      </div>
    </div>
    <% end %>
    <% if current_user.subject.world_history %>
    <div class="row">
      <div class="col-md-4 col-xs-12 new-report-form-item">
        <div class="input-group" style="float:left;">
          <span class="input-group-addon social social-border"><strong>世界史</strong></span> 
          <%= f.number_field :world_history_percentage, :class => 'text-right form-control studytime social-border num', :style => 'height:100%' %>
          <span class="input-group-addon social social-border"><strong>分</strong></span>
        </div>
      </div>
      <div class="col-md-7 col-md-offset-1 col-xs-12 form-group new-report-form-item">
        <%= f.text_area :world_history_comment, :class => 'form-control social-border', :placeholder => "世界史のコメント", :style => 'height:80px' %>
      </div>
    </div>
    <% end %>
    <% if current_user.subject.japanese_history %>
    <div class="row">
      <div class="col-md-4 col-xs-12 new-report-form-item">
        <div class="input-group" style="float:left;">
          <span class="input-group-addon social social-border"><strong>日本史</strong></span> 
          <%= f.number_field :japanese_history_percentage, :class => 'text-right form-control studytime social-border num', :style => 'height:100%' %>
          <span class="input-group-addon social social-border"><strong>分</strong></span>
        </div>
      </div>
      <div class="col-md-7 col-md-offset-1 col-xs-12 form-group new-report-form-item">
        <%= f.text_area :japanese_history_comment, :class => 'form-control social-border', :placeholder => "日本史のコメント", :style => 'height:80px' %>
      </div>
    </div>
    <% end %>
    <% if current_user.subject.politics_and_economics %>
    <div class="row">
      <div class="col-md-4 col-xs-12 new-report-form-item">
        <div class="input-group" style="float:left;">
          <span class="input-group-addon social social-border"><strong>政治経済</strong></span> 
          <%= f.number_field :politics_and_economics_percentage, :class => 'text-right form-control studytime social-border num', :style => 'height:100%' %>
          <span class="input-group-addon social social-border"><strong>分</strong></span>
        </div>
      </div>
      <div class="col-md-7 col-md-offset-1 col-xs-12 form-group new-report-form-item">
        <%= f.text_area :politics_and_economics_comment, :class => 'form-control social-border', :placeholder => "政治経済のコメント", :style => 'height:80px' %>
      </div>
    </div>
    <% end %>
    <% if current_user.subject.modern_society %>
    <div class="row">
      <div class="col-md-4 col-xs-12 new-report-form-item">
        <div class="input-group" style="float:left;">
          <span class="input-group-addon social social-border"><strong>現代社会</strong></span> 
          <%= f.number_field :modern_society_percentage, :class => 'text-right form-control studytime social-border num', :style => 'height:100%' %>
          <span class="input-group-addon social social-border"><strong>分</strong></span>
        </div>
      </div>
      <div class="col-md-7 col-md-offset-1 col-xs-12 form-group new-report-form-item">
        <%= f.text_area :modern_society_comment, :class => 'form-control social-border', :placeholder => "現代社会のコメント", :style => 'height:80px' %>
      </div>
    </div>
    <% end %>
    <% if current_user.subject.ethics %>
    <div class="row">
      <div class="col-md-4 col-xs-12 new-report-form-item">
        <div class="input-group" style="float:left;">
          <span class="input-group-addon social social-border"><strong>倫理</strong></span> 
          <%= f.number_field :ethics_percentage, :class => 'text-right form-control studytime social-border num', :style => 'height:100%' %>
          <span class="input-group-addon social social-border"><strong>分</strong></span>
        </div>
      </div>
      <div class="col-md-7 col-md-offset-1 col-xs-12 form-group new-report-form-item">
        <%= f.text_area :ethics_comment, :class => 'form-control social-border', :placeholder => "倫理のコメント", :style => 'height:80px' %>
      </div>
    </div>
    <% end %>
    <% if current_user.subject.geography %>
    <div class="row">
      <div class="col-md-4 col-xs-12 new-report-form-item">
        <div class="input-group" style="float:left;">
          <span class="input-group-addon social social-border"><strong>地理</strong></span> 
          <%= f.number_field :geography_percentage, :class => 'text-right form-control studytime social-border num', :style => 'height:100%' %>
          <span class="input-group-addon social social-border"><strong>分</strong></span>
        </div>
      </div>
      <div class="col-md-7 col-md-offset-1 col-xs-12 form-group new-report-form-item">
        <%= f.text_area :geography_comment, :class => 'form-control social-border', :placeholder => "地理のコメント", :style => 'height:80px' %>
      </div>
    </div>
    <% end %>
    
　　<div class="row">
      <div class="col-md-4 col-xs-4 new-report-form-item text-right">
        <%= f.label '今日の合計勉強時間：', :class => '', :style => 'font-size:100%' %>
      </div>
      <div class="col-md-7 col-md-offset-1 col-xs-4 col-xs-offset-1 form-group new-report-form-item panel panel-default text-center">
        <%= f.hidden_field :average_studytime, :value => 0, id: 'total' %>
        <span class="num" id="total-hour"></span> 時間
        <span class="num" id="total-minute"></span> 分
      </div>
    </div>

    <div class="row">
      <div class="col-md-4 col-xs-3 new-report-form-item text-right">
        <%= f.label '自由コメント：', :class => '', :style => 'font-size:100%' %>
      </div>
      <div class="col-md-7 col-md-offset-1 col-xs-12 form-group new-report-form-item">
        <%= f.text_area :free_comment, :class => "form-control", :rows => "3", :style => 'height: 200px;' %>
      </div>
    </div>

    <div class="row">
      <div class="actions">
        <%= f.submit '送信', data: { confirm: '送信しますか？', disable_with: "送信中..." }, :class => 'btn btn-primary col-xs-12 col-md-12 col-sm-6' %>
      </div>
    </div>

  <br>
  <br>

  <% end %>
</div>  
<% end %>


<script>
$(document).ready(function() {
  var total=0;
  $('.studytime').each(function() {
    var point = $(this).val();
    total = parseInt(point)+total;  
  });
  $('#total-hour').html(Math.floor(total/60));
  $('#total-minute').html(total % 60);
  $('#total').val(total);
});

$('.studytime').change(function() {
  total = 0;
  $('.studytime').each(function() {
    var point = $(this).val();
    total = parseInt(point)+total;  
  });
  $('#total-hour').html(Math.floor(total/60));
  $('#total-minute').html(total % 60);
  $('#total').val(total);
});
</script>