<!DOCTYPE html>
<html>
<head>
  <title>Studyconcierge</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
  <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
  <%= csrf_meta_tags %>
</head>
<body>
	<header>
      <nav>
            <% if user_signed_in? %>
                <strong><%= link_to current_user.name, home_index_path %></strong>
                <%= link_to 'ログアウト', destroy_user_session_path, method: :delete %>
            <% elsif tutor_signed_in? %>
                <strong><%= link_to current_tutor.name, tutor_home_index_path %></strong>
                <%= link_to 'ログアウト', destroy_tutor_session_path, method: :delete %>
            <% end %>
      </nav>
      <div class="container-fluid">
      <% if alert %>
        <div class="alert alert-danger alert-dismissible" role="alert">
          <button type="button" class="close" data-dismiss="alert" aria-label="閉じる"><span aria-hidden="true">×</span></button>
          <%= alert %>
        </div>
      <% end %>
      <% if notice %>
        <div class="alert alert-info alert-dismissible" role="alert">
          <button type="button" class="close" data-dismiss="alert" aria-label="閉じる"><span aria-hidden="true">×</span></button>
          <%= notice %>
        </div>
      <% end %>
      <% if flash[:info] %>
        <div class="alert alert-success alert-dismissible" role="alert">
          <button type="button" class="close" data-dismiss="alert" aria-label="閉じる"><span aria-hidden="true">×</span></button>
          <%= flash[:info].join("<br>").html_safe %>
        </div>
      <% end %>
      </div>
  </header>

<%= yield %>

<script>
  $('img').error(function() {
    $(this).attr('src', '/assets/1310.png');
  });
</script>

</body>
</html>
