<div class="container-fluid">
<div class="row row-offcanvas row-offcanvas-left">
<div class="menu col-md-3 hidden-xs">
<%= render 'home/menu' %>
</div>

<div class="col-xs-6 visible-xs sidebar-offcanvas" id="sidebar" role="navigation">
  <%= render 'home/menu' %>
</div>

<div class="col-md-7">

  <h3>プロフィールを編集する</h3>

  <%= form_for(resource, as: resource_name, :url => url_for(:controller => 'users/registrations', :action => 'update_profile'), html: { method: :put }) do |f| %>
    

  <div class="container-fluid panel panel-default">
  <%= devise_error_messages! %>
  
    <div class="row field form-group edit-profile-row">
      <div class="col-md-2 edit-profile-left"><%= f.label :email %></div>
      <div class="col-md-10"><%= f.email_field :email, autofocus: true, :class => "form-control" %></div>
    </div>

    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
      <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
    <% end %>

    <div class="row field form-group edit-profile-row">
      <div class="col-md-2 edit-profile-left"><%= f.label '名前' %></div>
      <div class="col-md-10"><%= f.text_field :name, :class => "form-control" %></div>
    </div>

  
    <div class="row field form-group edit-profile-row">
      <div class="col-md-3 edit-profile-left"><%= f.label :photo_file, "プロフィール画像" %></div>
      <div class="col-md-9"><%= f.file_field :photo_file %></div>
    </div>
  
  
    <div class="row field form-group edit-profile-row">
      <div class="col-md-2 edit-profile-left"><%= f.label "誕生日" %></div>
      <div class="col-md-10">
        <%= f.date_select :birth,
            use_month_numbers: true,
            start_year:     1990,
            end_year:       (Time.now.year - 10),
            default:        Date.new(1999, 1, 1),
            date_separator: '/'
        %>
      </div>
    </div>
  
  
    <div class="row field form-group edit-profile-row">
      <div class="col-md-2 edit-profile-left"><%= f.label "学年" %></div>
      <div class="col-md-2"><%= f.select :year, {'高校1年' => 1,'高校2年' => 2,'高校3年' => 3}, :selected => @user.year, :class => "form-control" %></div>
    </div>


    <div class="row field form-group edit-profile-row">
      <div class="col-md-2 edit-profile-left"><%= f.label "学校名" %></div>
      <div class="col-md-10"><%= f.text_field :school, :class => "form-control" %></div>
    </div>
  
  
    <div class="row field form-group edit-profile-row">
      <div class="col-md-2 edit-profile-left"><%= f.label "住所" %></div>
      <div class="col-md-10">
        <div class="container-fluid">
          <div class="row">
            <div class="input-group col-md-12 col-xs-10">
              <span class="input-group-addon"><%= f.label '郵便番号', :class => '' %></span>
              <%= f.text_field :zipcode, :class => "form-control", :id => "address_zipcode" %>
            </div>
          </div>
          <br>
          <div class="row">
            <div class="input-group col-md-12 col-xs-10">
              <span class="input-group-addon"><%= f.label "都道府県", :class => '' %></span>
              <%= f.text_field :prefecture, :class => "form-control", :id => "address_prefecture_name" %>
            </div>
          </div>
          <br>
          <div class="row">
            <div class="input-group col-md-12 col-xs-10">
              <span class="input-group-addon"><%= f.label "市区町村", :class => '' %></span>
              <%= f.text_field :lives_in, :class => "form-control", :id => "address_city" %>
            </div>
          </div>
        </div>
      </div>
    </div>
  
  
    <div class="row field form-group edit-profile-row">
      <div class="col-md-2 edit-profile-left"><%= f.label "志望校" %></div>
      <div class="col-md-10"><%= f.text_field :school_desire, :class => "form-control" %></div>
    </div>
  
  
    <%= f.fields_for :subject, current_user.subject || Subject.new do |c| %>
      <div class="row field form-group edit-profile-row">
        <div class="col-md-2 edit-profile-left"><%= c.label "受験で使う科目" %></div>
        <div class="col-md-10">
          <label><span class = "label label-danger" style="font-size:100%;"><%= c.check_box :japanese %> 現代文</span></label>
          <label><span class = "label label-danger" style="font-size:100%;"><%= c.check_box :old_japanese %> 古文</span></label>
          <label><span class = "label label-danger" style="font-size:100%;"><%= c.check_box :old_chinese %> 漢文</span></label>
          <br>
          <label><span class = "label label-warning" style="font-size:100%;"><%= c.check_box :english %> 英語</span></label>
          <br>
          <label><span class = "label label-info" style="font-size:100%;"><%= c.check_box :math %> 数学</span></label>
          <br>
          <label><span class = "label label-success" style="font-size:100%;"><%= c.check_box :physics %> 物理</span></label>
          <label><span class = "label label-success" style="font-size:100%;"><%= c.check_box :chemistry %> 化学</span></label>
          <label><span class = "label label-success" style="font-size:100%;"><%= c.check_box :biology %> 生物</span></label>
          <label><span class = "label label-success" style="font-size:100%;"><%= c.check_box :geology %> 地学</span></label>
          <br>
          <label><span class = "label label-default" style="font-size:100%;"><%= c.check_box :world_history %> 世界史</span></label>
          <label><span class = "label label-default" style="font-size:100%;"><%= c.check_box :japanese_history %> 日本史</span></label>
          <label><span class = "label label-default" style="font-size:100%;"><%= c.check_box :politics_and_economics %> 政治経済</span></label>
          <label><span class = "label label-default" style="font-size:100%;"><%= c.check_box :modern_society %> 現代社会</span></label>
          <label><span class = "label label-default" style="font-size:100%;"><%= c.check_box :ethics %> 倫理</span></label>
          <label><span class = "label label-default" style="font-size:100%;"><%= c.check_box :geography %> 地理</span></label>
        </div>
      </div>
    <% end %>
  </div>

  <div>
    <%= link_to 'パスワードを変更する', edit_user_registration_path %>
  </div>

  <br>
  <div class="actions">
    <%= f.submit "変更する", :class => 'btn btn-primary col-sm-2' %>
  </div>
  <br>
  <br>
  <% end %>
  


  <% if admin_signed_in? %>

  <div>
  <h3>アカウントを削除する</h3>
  </div>

  <p>Unhappy? <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %></p>

  <% end %>

</div>
</div>
</div>
